# Ignore Visual Studio user-specific settings and information
.vs
src/.vs

# Ignore JetBrains Rider IDE files
src/.idea/

# Ignore user-specific settings file
src/Enigmaze.sln.DotSettings.user

# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore doc directory
doc